:root {
    --cor-fundo: #11161d;
    --cor-principal: #1e232f;
    --cor-secundaria: #2c3642;
    --cor-destaque: #1fa2f2;
    --cor-texto: #d7e5f2;
}

body {
    background-color: var(--cor-fundo);
    color: var(--cor-texto);
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
    font-family: Arial, sans-serif;
}

.caixa-principal {
    background-color: var(--cor-principal);
    width: 90%;
    max-width: 600px;
    text-align: center;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
}

h1 {
    color: var(--cor-destaque);
}

button {
    background-color: var(--cor-secundaria);
    color: var(--cor-texto);
    border: none;
    border-radius: 15px;
    padding: 15px 30px;
    margin: 10px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.2s;
}

button:hover {
    background-color: var(--cor-destaque);
    transform: scale(1.05);
}
